<h1>Import Heroes</h1>
<%= link_to 'Back', heroes_path %>

<%= form_with(url: import_equipments_path, method: :post) do |form| %>
  <div>
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>

  <div>
    <%= link_to 'Back', equipments_path, class: 'btn btn-danger' %>
    <%= form.submit 'Save', class: 'btn btn-success' %>
  </div>
<% end %>
