<%= link_to 'New', new_equipment_path %>
<h2>Showing <%= @equipments.count %> Equipments</h2>
<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Style</th>
      <th>Class</th>
      <th colspan="2">Actions</th>
    </tr>
    <% @equipments.each do |equipment| %>
      <tr>
        <td><%= link_to equipment.name, equipment_path(equipment) %></td>
        <td><%= equipment.equipment_type %></td>
        <td><%= equipment.equipment_style %></td>
        <td><%= equipment_class(equipment) %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Duplicate', duplicate_equipment_path(equipment), data: { 'turbo-method' => :post } %></td>
      </tr>
    <% end %>
  </table>
</div>
