<%= stylesheet_link_tag "equipments", "data-turbo-track": "reload" %>
<%= link_to 'New', new_equipment_path %>
<div class="row">
  <div class="col-lg-3">
    <%= form_with(url: equipments_path, method: :get, class: 'row', data: { controller: "search-form", action: "change->search-form#submit", turbo_frame: "search_result", turboo_action: "advance" }) do |form| %>
      <div class="row">
        <div class="col-lg-6">
          <%= render partial: 'shared/filter_options', locals: { name: :equipment_style, options: equipment_style_filter_options, form: form } %>
        </div>
        <div class="col-lg-6">
          <%= render partial: 'shared/filter_options', locals: { name: :equipment_type, options: equipment_type_filter_options, form: form } %>
        </div>
        <div class="p-lg-3"></div>
        <div class="col-lg-6">
          <%= render partial: 'shared/filter_options', locals: { name: :equipment_class, options: equipment_class_filter_options, form: form } %>
        </div>
        <div class="col-lg-6">
          <%= render partial: 'shared/filter_options', locals: { name: :equipment_class_level, options: equipment_class_level_filter_options, form: form } %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-9">
    <h2>Showing <%= @equipments.count %> Equipments</h2>
    <div class="equipments-container">
      <div class="equipment-header">
        <div class="data">Name</div>
        <div class="data">Type</div>
        <div class="data">Style</div>
        <div class="data">Class</div>
        <div class="data">Actions</div>
      </div>
      <% @equipments.each do |equipment| %>
        <div class="equipment-container">
          <div class="data name"><%= link_to equipment.name, equipment_path(equipment) %></div>
          <div class="data"><%= equipment.equipment_type %></div>
          <div class="data"><%= equipment.equipment_style %></div>
          <div class="data"><%= equipment_class(equipment) %></div>
          <div class="data action">
            <%= link_to edit_equipment_path(equipment) do %>
              <i class="bi bi-pencil-square"></i>
            <% end %>
            <%= link_to duplicate_equipment_path(equipment), data: { 'turbo-method' => :post } do %>
              <i class="bi bi-copy"></i>
            <% end %>
            <%= link_to equipment_path(equipment), data: { 'turbo-method' => :delete } do %>
              <i class="bi bi-trash"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
