<%= form_with(url: heroes_path, method: :get, data: { controller: "search-form", action: "change->search-form#submit", turbo_frame: "search_result", turbo_action: "advance" }) do |form| %>
  <%= render partial: 'shared/filter_options', locals: { name: :hero_type, options: hero_type_filter_options, form: form } %>
  <%= render partial: 'shared/filter_options', locals: { name: :hero_role, options: hero_role_filter_options, form: form } %>
  <%= render partial: 'shared/filter_options', locals: { name: :hero_style, options: hero_style_filter_options, form: form } %>
  <%= render partial: 'shared/filter_options', locals: { name: :order_by, options: hero_order_filter_options, form: form } %>
<% end %>

<hr />

<%= turbo_frame_tag "search_result" do %>
  <h2>Showing <%= @heroes.count %> Heroes</h2>
  <div>
    <table>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Combat Power</th>
        <th colspan=1>Actions</th>
      </tr>
      <% @heroes.each do |hero| %>
        <tr>
          <td><%= link_to hero.name, hero_path(hero), data: { turbo_frame: '_top' } %></td>
          <td><%= hero.hero_type %></td>
          <td><%= hero.combat_power %></td>
          <td><%= link_to 'Edit', edit_hero_path(hero), data: { turbo_frame: '_top' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
